<%# DaisyUI navbar %>

<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box">


  <div class="px-2 mx-2 navbar-start">
    <span class="text-lg">
      <%= link_to "/", class: "navbar-brand", id: "logo" do %>
        Book An Artist
      <% end %>
    </span>
  </div>



  <div class="hidden px-2 mx-2 navbar-center lg:flex">
    <div class="flex items-stretch">
      <%= link_to "/offers", class: "transition hover:text-cyan-400" do %>
          <h3>Artists</h3>
      <% end %>
      <%= link_to "/dashboard", class: "transition hover:text-cyan-400 mx-4" do %>
          <h3>Dashboard</h3>
      <% end %>
      <a href="#">
          <h3>Categories</h3>
      </a>
    </div>
  </div>


  <div class="navbar-end">
    <%= form_tag offers_path, method: :get, class: 'search-form' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control rounded-xl mr-2 hidden lg:block",
        style: "color: black",
        placeholder: "Find an artist"
      %>
      <%= submit_tag "Search", class: "mr-2 py-3 px-6 rounded-xl btn bg-cyan-500 hover:bg-cyan-400 active:bg-cyan-400  hidden lg:block" %>
    <% end %>

    <%= link_to destroy_user_session_path, method: :delete do %>
      <button class="btn hidden lg:block">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    <% end %>

    <div class="dropdown dropdown-end lg:hidden">
      <label tabindex="0" class="m-1 btn">
        <i class="fas fa-ellipsis-v"></i>
      </label>
      <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
        <li>
          <%= link_to "/offers" do %>
            Artists
          <% end %>
        </li>
        <li>
          <%= link_to "/dashboard" do %>
            Dashboard
          <% end %>
        </li>
        <li>
          <a href="#">
            Categories
          </a>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            Sign out
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
