<header class="hidden w-full h-16 bg-white shadow-md transition lg:h-20 items-center">
    <nav class="container w-full">
        <div class="relative flex flex-wrap items-center justify-between">
            <div class="relative z-10 w-full px-6 flex items-center justify-between lg:w-auto">
                <%= link_to "/", class: "navbar-brand w-52", id: "logo" do %>
                  Book An Artist
                <% end %>

                <button id="hamburger" class="relative w-10 h-10 lg:hidden">
                    <div role="hidden" id="line" class="inset-0 w-6 h-0.5 m-auto rounded-full bg-gray-500 transition duration-300"></div>
                    <div role="hidden" id="line2" class="inset-0 w-6 h-0.5 mt-1.5 m-auto rounded-full bg-gray-500 transition duration-300"></div>
                </button>
            </div>

            <div id="navlinks" class="hidden w-full px-6 bg-white transition lg:block lg:w-auto lg:px-0 lg:bg-transparent">
                <ul class="py-4 text-gray-600 text-lg tracking-wide lg:flex lg:space-x-8 lg:py-0">
                    <li>
                      <%= link_to "Dashboard", "/profile", class: "block w-full py-3 transition hover:text-cyan-600" %>
                    </li>
                    <li>
                      <%= link_to "Artists", "/offers", class: "block w-full py-3 transition hover:text-cyan-600" %>
                    </li>
                    <li class="mt-4 lg:mt-0">
                        <%= form_tag offers_path, method: :get, class: 'search-form' do %>
                          <%= text_field_tag :query,
                            params[:query],
                            class: "form-control",
                            placeholder: "Find an artist"
                          %>
                        <%= submit_tag "Search", class: "block w-full py-3 px-6 rounded-xl bg-cyan-500 transition hover:bg-cyan-600 focus:bg-cyan-700 active:bg-cyan-800" %>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
  let hamburger = document.querySelector('#hamburger')
  let navlinks = document.querySelector('#navlinks')

  let line = hamburger.querySelector('#line')
  let line2 = hamburger.querySelector('#line2')

  hamburger.addEventListener('click', function (){
      if (navlinks.classList.contains('hidden')){
          navlinks.classList.remove('hidden')
          line.classList.add('rotate-45', 'absolute')
          line2.classList.add('-rotate-45', 'absolute')
          line2.classList.remove('mt-1.5')
      } else{
          navlinks.classList.add('hidden')
          line.classList.remove('rotate-45', 'absolute')
          line2.classList.remove('-rotate-45', 'absolute')
          line2.classList.add('mt-1.5')
      }
  })
</script>
