
<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th></th>
        <th>Artist:</th>
        <th>Status:</th>
        <th>Start Time:</th>
        <th>End Time:</th>
        <th>Total Price:</th>
      </tr>
    </thead>
    <tbody>
      <% @profile_user.user_bookings.each do |booking| %>
        <tr>
          <th></th>
          <td><%= booking.offer.artist_name %></td>
          <td><%= booking.status %></td>
          <td><%= booking.start_time %></td>
          <td><%= booking.end_time %></td>
          <td><%= number_with_precision(booking.total, :precision => 2, :delimiter => '.', :separator => ',') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%# old table %>

<div class="hidden">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Artist:</th>
        <th scope="col">Start Time:</th>
        <th scope="col">End Time:</th>
        <th scope="col">Status:</th>
        <th scope="col">Total Price:</th>
      </tr>
    </thead>
    <tbody>
      <% @profile_user.user_bookings.each do |booking| %>
        <tr>
          <th scope="row"><%= booking.offer.artist_name %></th>
          <td><%= booking.start_time %></td>
          <td><%= booking.end_time %></td>
          <td><%= booking.status %></td>
          <td><%= number_with_precision(booking.total, :precision => 2, :delimiter => '.', :separator => ',') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
