<div class="profile-card">
  <div class="d-flex flex-column align-items-between">
      <h3 class="ml-4 mt-3 yellow-title">
        Profile Information
      </h3>
    <ul>
      <li>
        <h3 class="yellow-text">
          Name:
        </h3>
        <p class="ml-1 text-white"> <%= @profile_user.first_name %> <%= @profile_user.last_name %></p>
      </li>
      <li>
        <h3 class="yellow-text">
          Email:
        </h3>
        <p class="ml-1 text-white"><%= @profile_user.email %></p>
      </li>
      <li>
        <h3 class="yellow-text">
          Address:
        </h3>
        <p class="ml-1 text-white"> <%= @profile_user.address %></p>
      </li>
      <li>
        <h3 class="yellow-text">
          Phone:
        </h3>
        <p class="ml-1 text-white"> <%= @profile_user.phone_number %></p>
      </li>
    </ul>
  </div>
</div>
