<div class="blue full-height">
  <div class="d-flex flex-column align-items-stretch justify-content-stretch h-100">
    <div class="green" id="dash-top" style="height: 70%">
      <div class="row" style="height: 70vh">
        <div class="red col-9" style="height: 100%">
          <div class="row d-flex flex-column flex-nowrap justify-content-stretch" style="height: 100%">
            <div class="blue" style="height: 15%">
              <h2 class="mt-3 ml-4">Welcome <%= @profile_user.first_name %>!</h2>
            </div>
            <div class="blue" style="height: 85%">
              <h2 class="ml-4" style="height:10%">My Offers</h2>
              <div style="height: 90%">
                <%= render 'pages/posts' %>
              </div>
            </div>
          </div>
        </div>
        <div class="red col-3 profile" style="height: 100%">
          <h1 class="ml-1">Profile Information</h1>
          <p class="ml-2">Name: <%= @profile_user.first_name %> <%= @profile_user.last_name %></p>
          <p class="ml-2">Email: <%= @profile_user.email %></p>
          <p class="ml-2">Address: <%= @profile_user.address %></p>
          <p class="ml-2">Phone: <%= @profile_user.phone_number %></p>
        </div>
      </div>
    </div>
    <div class="green" id="dash-bottom" style="height: 30%">
      <h1 style="height: 15%">Booking Requests</h1>
        <div style="height: 85%">
          <%= render 'pages/bookings' %>
        </div>
    </div>
  </div>
</div>
