<div class="login justify-center mt-16 mx-auto align-items-center rounded-xl shadow-xl p-8 bg-cyan-700" style="width: 380px; height: 474px">
  <h2 class="mb-6 mt-2 text-center">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  placeholder: "Email",
                  input_html: { autocomplete: "email", value: "Guest@app.com" } %>
      <%= f.input :password,
                  required: false,
                  placeholder: "Password",
                  input_html: { autocomplete: "current-password", value: "123123" } %>
      <%= f.input :remember_me,  class:'ring-offset-0', as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions text-center m-3">
      <%= f.button :submit, "Log in", class:'btn bg-cyan-500 hover:bg-cyan-400' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
