
<div class="container">
  <h1>Artists to Book</h1>
    <div class="row justify-content-evenly">
      <% @offers.each do |offer| %>
          <div class="col-12 col-md-6 col-lg-4 col-lx-3">
            <div class="card">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1517230878791-4d28214057c2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1769&q=80" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title btn btn-outline-primary"><%= link_to offer.artist_name, offer_path(offer) %></h5>
              </div>
            <div>
            </div>
          </div>
    </div>
    <% end %>
</div>

<<<<<<< HEAD
<p><%= link_to 'Create a new offer', new_offer_path %></p>
=======
<%# FORM %>

<div class="text-right m-3">
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create List</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Movie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@offer) do |f| %>

          <div class="form-inputs">
            <%= f.input :artist_name %>
            <%= f.input :description %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
>>>>>>> 333cc7477f3a6b51284aa06241186dd4584c5ae3
