<div class="first-block my-12">


  <h2>Find your perfect concert</h2>
  <p>Your favorite artists are returning to the stages!</p>
  <a href="#artists">
    <button class="btn bg-cyan-500 hover:bg-cyan-400">
          Browse Artists
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 ml-2 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
  </a>


</div>


<div class="second-block my-8">


  <h2 class="my-6">Categories</h2>

  <div class="flex flex-row w-full">
    <div class="flex-grow">

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 w-full">
        <div class="card-category">
          <h3>
            Hip hop
          </h3>
        </div>
        <div class="card-category">
          <h3>
            Pop
          </h3>
        </div>
        <div class="card-category">
          <h3>
            Rock
          </h3>
        </div>
        <div class="card-category">
          <h3>
            R&B
          </h3>
        </div>
      </div>


    </div>
    <div class="divider divider-vertical"></div>

    <div class="flex-grow h-full bg-cyan-800 rounded-box place-items-center">
      <% 5.times do %>
        <div class="card-top-five">
          <img src="<%= cl_image_path @offers.first.photos.first.key, crop: :fill %>" alt="" class="avatar">
          <h3>
            <%= @offers.first.artist_name %>
          </h3>
        </div>
      <% end  %>
    </div>
  </div>


</div>

<div class="third-block my-8">


  <div class="w-full my-6 flex inline-flex justify-between items-center">

    <h2 id="artists">
      Artists
    </h2>


    <label for="my-modal-2" class="btn bg-cyan-500 hover:bg-cyan-400 modal-button">New Offer</label>
    <input type="checkbox" id="my-modal-2" class="modal-toggle">
    <div class="modal">
      <div class="modal-box">
        <%= simple_form_for(@offer) do |f| %>


          <div class="form-inputs">
            <%= f.input :artist_name %>
            <%= f.input :description %>
            <%= f.input :price, as: :integer %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          </div>


          <div class="modal-action">
            <%= f.button :submit, class: "btn bg-cyan-500 hover:bg-cyan-400" %>
            <label for="my-modal-2" class="btn">Close</label>
          </div>


        <% end %>
      </div>
    </div>


  </div>


  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-1">
      <% @offers.each do |offer| %>


        <%= link_to offer_path(offer) do %>


          <div class="card-artist" style="background-image: url('<%= cl_image_path offer.photos.first.key, crop: :fill %>')">
            <div class="card-img-bottom">
              <h3><%= offer.artist_name %></h3>
              <p>€<%= number_with_precision(offer.price, :precision => 0, :delimiter => '.') %></p>
            </div>
          </div>


        <% end %>


      <% end %>
  </div>


</div>



<%# Old grid %>

<div class="hidden head-index row justify-content-between align-items-center mx-3 mt-5">
  <h1 class="text-left">Artists to Book</h1>
  <div class="text-right">
    <button type="button" class="btn btn-ghost-post" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create a Post</button>
  </div>

  <div class="grid my-3" >
    <% @offers.each do |offer| %>
      <div>
        <div class="card">
            <p id="price" class="card-title">€<%= number_with_precision(offer.price, :precision => 0, :delimiter => '.') %></p>
            <h2 class="card-title" ><%= link_to offer.artist_name, offer_path(offer) %></h2>
          <a href="<%=offer_path(offer) %>">
            <% if offer.photos.first == nil %>
              <img class="card-img-top" src="https://images.unsplash.com/photo-1517230878791-4d28214057c2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1769&q=80" alt="Card image cap">
            <% else %>
              <img class="card-img-top" src="<%= cl_image_path offer.photos.first.key, crop: :fill  %>" alt="Card image cap">
            <% end %>
          </a>
        </div>
      </div>
    <% end %>
  </div>
