<div class="grid grid-cols-2">

  <div class="artist-show-images">
    <% @offer.photos.each do |photo| %>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('<%= cl_image_path photo.key, height: 800, width: 1000, crop: :fill %>');">
      </div>
    <% end %>
  </div>

  <div class="artist-info">


        <label for="my-modal-2" class="btn bg-cyan-500 hover:bg-cyan-400 modal-button">Book now</label>
        <input type="checkbox" id="my-modal-2" class="modal-toggle">
        <div class="modal">
          <div class="modal-box">
            <%= simple_form_for [@offer, @booking] do |f| %>


              <div class="form-inputs px-2">

              <div class="form-inputs">
                <%= f.input :start_time, :as => :datetime, input_html: { class: "form-select flex inline-flex" } %>
                <%= f.input :end_time, :as => :datetime, input_html: { class: "form-select flex inline-flex" } %>
                <%= f.input :message, :as => :text %>
              </div>
              <%= @total %>
              <div class="modal-footer">
              </div>
              </div>


              <div class="modal-action">
                <label for="my-modal-2" class="btn">Close</label>
                <%= f.button :submit, class: "btn bg-cyan-500 hover:bg-cyan-400", value:"Request Booking" %>
              </div>


            <% end %>
          </div>
        </div>


        <a href="<%= offers_path %>">
          <div class="btn ml-5">
            Go back
          </div>
        </a>


        <h1 class="roboto-mono"><%= @offer.artist_name %></h1>
        <p><%= @offer.description %></p>


  </div>


</div>
