<div class="modal-body row align-items-end d-flex align-items-center" id="no-padding">
  <div class="col-md-7">
    <% @offer.photos.each do |photo| %>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('<%= cl_image_path photo.key, height: 800, width: 1000, crop: :fill %>');">
      </div>
    <% end %>
  </div>
  <div class="col-md-5 d-flex flex-d flex-column justify-content-between">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="flex-wrap d-flex justify-content-around align-items-center mb-5">
        <div class="snake-button mr-5">
          <a data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Book now
          </a>
        </div>
        <div class="snake-button ml-5">
          <a href="<%= offers_path %>">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Go back
          </a>
        </div>
      </div>
      <div>
        <h1 class="roboto-mono"><%= @offer.artist_name %></h1>
        <p><%= @offer.description %></p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book <%= @offer.artist_name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@offer, @booking] do |f| %>

          <div class="form-inputs">
            <%= f.input :start_time, :as => :datetime %>
            <%= f.input :end_time, :as => :datetime %>
            <%= f.input :message, :as => :text %>
          </div>
          <%= @total %>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.button :submit, class: "btn btn-primary", value:"Request Booking" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
