<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <title>BookAnArtist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.22.0/dist/full.css" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="bg-oceanblack-500">
    <% unless @hide_navbar %>
      <%= render 'shared/navbar' %>
    <% end %>

    <main class="min-h-screen mx-16 lg:mx-32">
        <%= yield %>
    </main>

    <%= render 'shared/alerts' %>

    <% unless @hide_footer %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
