<!DOCTYPE html>
<html>
  <head>
    <title>BookAnArtist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>

    <div class="footer">
      <div class="links">
        <h5>BookAnArtist</h5>
        <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-fw fa-github"></i></a>
        <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
        <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
        <p>Follow us on social media<i class="fas fa-heart"></i> </p>

      </div>
    </div>
  </body>
</html>
